<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="ConsulCluster" javaclass="com.wm.util.Values">
    <value name="default">true</value>
    <value name="alias">ConsulCluster</value>
    <value name="type">Consul</value>
    <value name="host">consul-server-bootstrap</value>
    <number name="port" type="Integer">8500</number>
    <value name="healthcheck">yes</value>
    <value name="user"></value>
    <value name="handle">wm.is.admin.remote.server.ConsulCluster</value>
    <value name="ssl">no</value>
  </record>
</Values>